/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 }
 .page_App__wR_4g {
  text-align: center;
 }
 .page_App-logo__QdvTI {
  height: 40vmin;
  pointer-events: none;
 }
 @media (prefers-reduced-motion: no-preference) {
  .page_App-logo__QdvTI {
  animation: page_App-logo-spin__NCE1S infinite 20s linear;
  }
 }
 .page_App-link__YEc32 {
  color: #61dafb;
 }
 @keyframes page_App-logo-spin__NCE1S {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
 }
 .page_form_input__X3ZiL {
  height: 40px;
  width: 500px;
  font-size: 20px;
  border-radius: 5%;
  display: flex;
  vertical-align: auto;
 }
 .page_form_button__mk1OR {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 500px;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: darkgreen;
 }
 .page_Titulo3___7uCK {
  margin: 0;
 }
 .page_list__NOc4w {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: flex-end;
 }
 .page_btn_delete__7BIKY {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: red;
  height: 30px;
  width: 30px;
 }
