/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #ffffff;
}

.page_calculadora__gDZsp {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  background-color: white;

  text-align: center;
}

.page_titulo__k5evp {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.page_numeros__Q11Ck {
  margin-bottom: 15px;
}

.page_text__LcLL2 {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 600;
}

.page_inputnum__OKN2D {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.page_inputnum__OKN2D:focus {
  outline: none;
  border-color: #4a90e2;
}

.page_botones__UyvAG {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  gap: 10px;
  margin-top: 20px;
}

.page_button__vnlhW {
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4a90e2;
  color: white;
}

.page_button__vnlhW:hover {
  background-color: #357abd;
}

.page_buttonReset__fgRUt {
  grid-column: span 3;
  background-color: #e74c3c;
}

.page_buttonReset__fgRUt:hover {
  background-color: #c0392b;
}

.page_resultado__RG1CS {
  margin-top: 20px;
  font-weight: bold;
  color: #2c3e50;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 6px;
}

.page_error__Jil8M {
  margin-top: 20px;
  color: #e74c3c;
  font-weight: bold;
  padding: 10px;
  background-color: #f9e6e6;
  border-radius: 6px;
}

@media (max-width: 600px) {
  .page_main__GlU4n {
    padding: 2rem;
  }

  .page_calculadora__gDZsp {
    max-width: 100%;
    padding: 20px;
  }

  .page_botones__UyvAG {
    grid-template-columns: repeat(2, 1fr);
  }

  .page_buttonReset__fgRUt {
    grid-column: span 2;
  }
}
