/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n { display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding:
6rem; min-height: 100vh;
}

.page_calculadora__gDZsp { max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius:
5px; background-color: #fff;
}

.page_numeros__Q11Ck {
margin-bottom: 10px;
}
.page_text__LcLL2 { display: block; margin-bottom: 5px; color: rgb(0, 0, 0); 
}

.page_inputnum__OKN2D { width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;
}
.page_button__vnlhW { font-size: 1.2em; padding: 10px; margin-right: 10px; border: 1px solid #ccc; border-radius:
5px; cursor: pointer;
}
.page_resultado__RG1CS { margin-top: 10px; font-weight: bold; color: rgb(0, 0, 0);
} 
